@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .nav-item {
        @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold transition duration-300;
    }
    .nav-item:hover {
        @apply bg-white/10 text-white;
    }
    .nav-item:hover {
        @apply bg-white/10 text-white;
    }
}